@model List<Chef>;

<div class="card">
    <div class="card-header bg-dark text-light">Chefs</div>
    <div class="card-body">
        <table>
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th># of Dishes</th>
            </thead>
                @foreach (var chef in Model)
                {
                    <tr>
                        <td>@chef.FirstName @chef.LastName</td>
                        <td>@chef.Birthday</td>
                        <td>
                            @if(chef.CreatedDishes == null)
                            {
                                <p>0</p>
                            }    
                            else
                            {
                                @chef.CreatedDishes.Count();
                            }
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>