@model Dish

<div class="text-center">
    <h1 class="display-4">Add a Dish!</h1>
    <a href="/chefs"><p>Home</p></a>
    <form asp-controller="Dish" asp-action="CreateDish" method="POST">
        <div>
            <label asp-for="DishName">Dish Name: </label>
            <span asp-validation-for="DishName"></span>
            <input asp-for="DishName"/>
        </div>
        <div>
            <label asp-for="ChefId">Chef Name: </label>
            <span asp-validation-for="ChefId"></span>
            <select asp-for="ChefId">
                @foreach (var chef in @ViewBag.allChefs)
                {
                    <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                }
            </select>
        </div>
        <div>
            <label asp-for="Tastiness">Tastiness: </label>
            <span asp-validation-for="Tastiness"></span>
            <input asp-for="Tastiness"/>
        </div>
        <div>
            <label asp-for="Calories">Calories: </label>
            <span asp-validation-for="Calories"></span>
            <input asp-for="Calories"/>
        </div>
        <div>
            <label asp-for="Description">Description: </label>
            <span asp-validation-for="Description"></span>
            <input asp-for="Description"/>
        </div>
        <input type="submit" value="Add Dish"/>
    </form>
</div>